In [87]:
#Import package pandas for data analysis
import pandas as pd
# Import package numpy for numeric computing
import numpy as np
import seaborn as sns
# Import package matplotlib for visualisation/plotting
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches

from patsy import dmatrices
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

import pymysql

import matplotlib.pyplot as plt

#For showing plots directly in the notebook run the command below
%matplotlib inline

# For saving multiple plots into a single pdf file
from matplotlib.backends.backend_pdf import PdfPages

import scipy.stats as ss

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

import pickle

In [61]:
df = pd.read_csv('line_65_segments.csv', keep_default_na=True, delimiter=',')
segs_to_drop = list((df["segment_id"].value_counts()[df["segment_id"].value_counts() < 100]).index)

df = df.query(f'segment_id not in {segs_to_drop}')
df = df.drop(columns=['Unnamed: 0', "LINEID"])
df["DIRECTION"] = df["DIRECTION"].astype('category')
#change datatypes of some features
df['DAYOFSERVICE'] = df['DAYOFSERVICE'].astype('datetime64') #convert DAYOFSERVICE to datetime
df['DAYOFSERVICE']=df['DAYOFSERVICE'].apply(lambda x: x.toordinal()) #then convert it to numeric
df['dayofweek'] = df['dayofweek'].astype('category')
df['hour'] = df['hour'].astype('category')

In [63]:
grouped_df = df.groupby(["DAYOFSERVICE","TRIPID"])
trips_to_keep1 = grouped_df.first()[grouped_df["PROGRNUMBER"].first() == 2 ].index.to_list()
trips_to_keep2 = grouped_df.last()[(grouped_df["PROGRNUMBER"].last() == 77) |( grouped_df["PROGRNUMBER"].last() == 74)].index.to_list()

In [64]:
trips_to_keep = trips_to_keep1 + trips_to_keep2
df = df.reset_index(drop=True)
df = df[pd.Series(list(zip(df['DAYOFSERVICE'], df['TRIPID']))).isin(trips_to_keep)]

In [81]:
grouped_df = df.groupby(["DAYOFSERVICE","TRIPID"])
df['total_journey'] = grouped_df["journey_time"].transform('sum')
df['total_dwell'] = grouped_df["dwell_time"].transform('sum')
df["overall_time"] = df["total_journey"] + df["total_dwell"]

In [91]:
low_information_gain = ['rain',
                        'wind_dir',
                        'cloud_cover',
                        'wind_speed',
                        'pressure',
                        'humidity',
                        'sun',
                        "PROGRNUMBER",
                        "ACTUALTIME_DEP",
                        "ACTUALTIME_ARR",
                        "dwell_time",
                        "prev_stop_id",
                        "prev_progrnumber",
                        "DAYOFSERVICE",
                        "DIRECTION",
                        "TRIPID",
                        "STOPPOINTID", 
                        "overall_time",
                        "total_dwell",
                        "total_journey"]

In [93]:
def get_prediction(segment, x):
    with open(f'C:/Users/cls15/Google Drive/Comp Sci/Research Practicum/Code/dublin-bus-app/DataAnalytics/Conor/pickels/{segment}.pickle', 'rb') as f:
        model = pickle.load(f)
        return model.predict(x)



df_rev1 = df.copy()
df_rev1.drop(low_information_gain, 1, inplace=True)
predictions = {}
for seg in df.segment_id.unique():
    seg_df = df_rev1.copy()
    seg_df = seg_df[seg_df["segment_id"] == seg]
    seg_df.drop(["segment_id"], 1, inplace=True)
    seg_df = pd.get_dummies(seg_df)

    # y is the target
    y = seg_df["journey_time"]
    # X is everything else
    X = seg_df.drop(["journey_time"],1)
    seg_df["predicted_journey"] = get_prediction(seg, X)
    predictions[seg] = seg_df["predicted_journey"]

result = pd.concat(list(predictions.values()))

,hour,dayofweek,journey_time,prev_dept_time,segment_id,temp,visibility,cloud_height,holiday,predicted_journey,DAYOFSERVICE,PROGRNUMBER
0,9,0,130,34667,7564-4521,4.6,30000,999,1,145.713287,736695,2
1,9,0,77,34810,4521-1283,4.6,30000,999,1,109.635406,736695,3
2,9,0,39,34887,1283-4456,4.6,30000,999,1,43.710220,736695,4
3,9,0,22,34926,4456-1284,4.6,30000,999,1,31.118746,736695,5
4,9,0,52,34957,1284-1285,4.6,30000,999,1,64.406311,736695,6
...,...,...,...,...,...,...,...,...,...,...,...,...
738182,7,0,23,28157,4021-4022,9.6,30000,25,0,25.403379,737059,71
738183,7,0,34,28180,4022-4023,9.6,30000,25,0,36.691921,737059,72
738184,7,0,19,28214,4023-4024,9.6,30000,25,0,23.014582,737059,73
738185,7,0,43,28233,4024-4027,9.6,30000,25,0,51.870636,737059,74
738337,23,0,511,82473,1358-7564,9.1,30000,24,0,532.169373,737059,77

In [96]:

df_predictions = df.join(result) 

df_predictions

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,DIRECTION,ACTUALTIME_DEP,ACTUALTIME_ARR,hour,dayofweek,journey_time,...,wind_dir,sun,visibility,cloud_height,cloud_cover,holiday,total_journey,total_dwell,overall_time,predicted_journey
0,736695,5956287,2,4521,1,34810,34797,9,0,130,...,240,0.2,30000,999,3,1,3458,224,3682,145.713287
1,736695,5956287,3,1283,1,34887,34887,9,0,77,...,240,0.2,30000,999,3,1,3458,224,3682,109.635406
2,736695,5956287,4,4456,1,34926,34926,9,0,39,...,240,0.2,30000,999,3,1,3458,224,3682,43.710220
3,736695,5956287,5,1284,1,34957,34948,9,0,22,...,240,0.2,30000,999,3,1,3458,224,3682,31.118746
4,736695,5956287,6,1285,1,35009,35009,9,0,52,...,240,0.2,30000,999,3,1,3458,224,3682,64.406311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738182,737059,8589898,71,4022,1,28180,28180,7,0,23,...,230,0.0,30000,25,7,0,2750,272,3022,25.403379
738183,737059,8589898,72,4023,1,28214,28214,7,0,34,...,230,0.0,30000,25,7,0,2750,272,3022,36.691921
738184,737059,8589898,73,4024,1,28233,28233,7,0,19,...,230,0.0,30000,25,7,0,2750,272,3022,23.014582
738185,737059,8589898,74,4027,1,28276,28276,7,0,43,...,230,0.0,30000,25,7,0,2750,272,3022,51.870636
738337,737059,8590297,77,7564,2,82984,82984,23,0,511,...,250,0.0,30000,24,7,0,3441,533,3974,532.169373

In [98]:
grouped_df = df_predictions.groupby(["DAYOFSERVICE","TRIPID"])
df_predictions['total_journey'] = grouped_df["journey_time"].transform('sum')
df_predictions['total_predicted_journey'] = grouped_df["predicted_journey"].transform('sum')
df_predictions['total_dwell'] = grouped_df["dwell_time"].transform('sum')
df_predictions["overall_time"] = df_predictions["total_journey"] + df_predictions["total_dwell"]

In [99]:
df_predictions

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,DIRECTION,ACTUALTIME_DEP,ACTUALTIME_ARR,hour,dayofweek,journey_time,...,sun,visibility,cloud_height,cloud_cover,holiday,total_journey,total_dwell,overall_time,predicted_journey,total_predicted_journey
0,736695,5956287,2,4521,1,34810,34797,9,0,130,...,0.2,30000,999,3,1,3458,224,3682,145.713287,3672.398438
1,736695,5956287,3,1283,1,34887,34887,9,0,77,...,0.2,30000,999,3,1,3458,224,3682,109.635406,3672.398438
2,736695,5956287,4,4456,1,34926,34926,9,0,39,...,0.2,30000,999,3,1,3458,224,3682,43.710220,3672.398438
3,736695,5956287,5,1284,1,34957,34948,9,0,22,...,0.2,30000,999,3,1,3458,224,3682,31.118746,3672.398438
4,736695,5956287,6,1285,1,35009,35009,9,0,52,...,0.2,30000,999,3,1,3458,224,3682,64.406311,3672.398438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738182,737059,8589898,71,4022,1,28180,28180,7,0,23,...,0.0,30000,25,7,0,2750,272,3022,25.403379,2953.987549
738183,737059,8589898,72,4023,1,28214,28214,7,0,34,...,0.0,30000,25,7,0,2750,272,3022,36.691921,2953.987549
738184,737059,8589898,73,4024,1,28233,28233,7,0,19,...,0.0,30000,25,7,0,2750,272,3022,23.014582,2953.987549
738185,737059,8589898,74,4027,1,28276,28276,7,0,43,...,0.0,30000,25,7,0,2750,272,3022,51.870636,2953.987549
738337,737059,8590297,77,7564,2,82984,82984,23,0,511,...,0.0,30000,24,7,0,3441,533,3974,532.169373,3512.048096

In [102]:
df = pd.read_csv('out.csv', keep_default_na=True, delimiter=',')

In [104]:
df = df.drop(["Unnamed: 0"], 1)

In [110]:
df["dwell_predictions"]

0         22.881056
1         11.180227
2          4.532035
3          9.873302
4         10.247228
            ...
738657     3.246735
738658    -0.046151
738659     2.512399
738660    36.831997
738661     0.745307
Name: dwell_predictions, Length: 738662, dtype: float64

In [113]:
df_predictions = df_predictions.join(df["dwell_predictions"])

In [114]:
df_predictions

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,DIRECTION,ACTUALTIME_DEP,ACTUALTIME_ARR,hour,dayofweek,journey_time,...,visibility,cloud_height,cloud_cover,holiday,total_journey,total_dwell,overall_time,predicted_journey,total_predicted_journey,dwell_predictions
0,736695,5956287,2,4521,1,34810,34797,9,0,130,...,30000,999,3,1,3458,224,3682,145.713287,3672.398438,22.881056
1,736695,5956287,3,1283,1,34887,34887,9,0,77,...,30000,999,3,1,3458,224,3682,109.635406,3672.398438,11.180227
2,736695,5956287,4,4456,1,34926,34926,9,0,39,...,30000,999,3,1,3458,224,3682,43.710220,3672.398438,4.532035
3,736695,5956287,5,1284,1,34957,34948,9,0,22,...,30000,999,3,1,3458,224,3682,31.118746,3672.398438,9.873302
4,736695,5956287,6,1285,1,35009,35009,9,0,52,...,30000,999,3,1,3458,224,3682,64.406311,3672.398438,10.247228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738182,737059,8589898,71,4022,1,28180,28180,7,0,23,...,30000,25,7,0,2750,272,3022,25.403379,2953.987549,8.070208
738183,737059,8589898,72,4023,1,28214,28214,7,0,34,...,30000,25,7,0,2750,272,3022,36.691921,2953.987549,4.837013
738184,737059,8589898,73,4024,1,28233,28233,7,0,19,...,30000,25,7,0,2750,272,3022,23.014582,2953.987549,4.803165
738185,737059,8589898,74,4027,1,28276,28276,7,0,43,...,30000,25,7,0,2750,272,3022,51.870636,2953.987549,0.574702
738337,737059,8590297,77,7564,2,82984,82984,23,0,511,...,30000,24,7,0,3441,533,3974,532.169373,3512.048096,1.815242

In [116]:
grouped_df = df_predictions.groupby(["DAYOFSERVICE","TRIPID"])
df_predictions['total_journey'] = grouped_df["journey_time"].transform('sum')
df_predictions['total_predicted_journey'] = grouped_df["predicted_journey"].transform('sum')

df_predictions['total_dwell'] = grouped_df["dwell_time"].transform('sum')
df_predictions['total_predicted_dwell'] = grouped_df["dwell_predictions"].transform('sum')

df_predictions["overall_time"] = df_predictions["total_journey"] + df_predictions["total_dwell"]

df_predictions["overall_predicted_time"] = df_predictions["total_predicted_journey"] + df_predictions["total_predicted_dwell"]

In [119]:
df_predictions[["DAYOFSERVICE","TRIPID","PROGRNUMBER","total_journey","total_dwell","overall_time","predicted_journey","total_predicted_journey","dwell_predictions","overall_predicted_time","total_predicted_dwell"]]

,DAYOFSERVICE,TRIPID,PROGRNUMBER,total_journey,total_dwell,overall_time,predicted_journey,total_predicted_journey,dwell_predictions,overall_predicted_time,total_predicted_dwell
0,736695,5956287,2,3458,224,3682,145.713287,3672.398438,22.881056,4127.814614,455.416176
1,736695,5956287,3,3458,224,3682,109.635406,3672.398438,11.180227,4127.814614,455.416176
2,736695,5956287,4,3458,224,3682,43.710220,3672.398438,4.532035,4127.814614,455.416176
3,736695,5956287,5,3458,224,3682,31.118746,3672.398438,9.873302,4127.814614,455.416176
4,736695,5956287,6,3458,224,3682,64.406311,3672.398438,10.247228,4127.814614,455.416176
...,...,...,...,...,...,...,...,...,...,...,...
738182,737059,8589898,71,2750,272,3022,25.403379,2953.987549,8.070208,3263.919481,309.931933
738183,737059,8589898,72,2750,272,3022,36.691921,2953.987549,4.837013,3263.919481,309.931933
738184,737059,8589898,73,2750,272,3022,23.014582,2953.987549,4.803165,3263.919481,309.931933
738185,737059,8589898,74,2750,272,3022,51.870636,2953.987549,0.574702,3263.919481,309.931933
738337,737059,8590297,77,3441,533,3974,532.169373,3512.048096,1.815242,3891.410832,379.362736

In [120]:
df_predictions["difference"] = df_predictions["overall_predicted_time"] - df_predictions["overall_time"]

In [134]:
df_predictions.groupby(["DAYOFSERVICE","TRIPID"]).first().head(40)

                      PROGRNUMBER  STOPPOINTID DIRECTION  ACTUALTIME_DEP  \
DAYOFSERVICE TRIPID
736695       5956287            2         4521         1           34810
             5956288            2         7280         2           41414
             5956289            2         4521         1           48781
             5956290            2         4051         2           55888
             5956291            2         4521         1           63188
             5956292            2         7280         2           68449
             5956293            2         4521         1           74048
             5956294            2         7280         2           79245
             5966066            2         4521         1           83857
             5966067            2         4051         2           87654
             5967767            2         4521         1           29074
             5967768            2         4051         2           34297
             5967769            2         4521         1           41580
             5967770            2         7280         2           48646
             5967771            2         4521         1           56104
             5967772            2         7280         2           61267
             5967773            2         4521         1           66719
             5967774            2         4051         2           72014
             5967775            2         4521         1           77603
             5967776            2         7280         2           82847
736696       5961252            2         4521         1           59712
             5961253            2         4051         2           64905
             5961254            2         4521         1           70465
             5961255            2         4051         2           77481
             5963422            2         4521         1           20592
             5963424            2         4521         1           34745
             5963425            2         4051         2           41747
             5963426            2         4521         1           48917
             5963428            2         4521         1           63618
             5963430            2         4521         1           83012
             5963431            2         7280         2           87346
             5963562            2         4521         1           77649
             5963563            2         4051         2           83820
             5965717            2         4521         1           20788
             5965718            2         7280         2           25881
             5967633            2         4051         2           23472
             5967634            2         4521         1           28047
             5967635            2         7280         2           34256
             5967636            2         4521         1           41950
             5967637            2         4051         2           48790

                      ACTUALTIME_ARR hour dayofweek  journey_time  dwell_time  \
DAYOFSERVICE TRIPID
736695       5956287           34797    9         0           130          13
             5956288           41414   11         0            28           0
             5956289           48732   13         0           181          49
             5956290           55821   15         0            64          67
             5956291           63123   17         0           188          65
             5956292           68449   19         0            30           0
             5956293           74006   20         0           284          42
             5956294           79245   22         0            32           0
             5966066           83814   23         0           195          43
             5966067           87638    0         0            51          16
             5967767           29016    8         0           210          58
             5967768           34272    9         0            63          25
             5967769           41564   11         0           214          16
             5967770           48646   13         0            31           0
             5967771           56055   15         0           163          49
             5967772           61267   17         0            35           0
             5967773           66699   18         0           226          20
             5967774           71958   20         0            65          56
             5967775           77577   21         0           163          26
             5967776           82847   23         0            25           0
736696       5961252           59594   16         0           246         118
             5961253           64847   18         0            70          58
             5961254           70345   19         0           154         120
             5961255           77463   21         0            57          18
             5963422           20568    5         0           159          24
             5963424           34508    9         0           299         237
             5963425           41553   11         0           145         194
             5963426           48883   13         0           229          34
             5963428           63565   17         0           466          53
             5963430           82984   23         0           174          28
             5963431           87346    0         0            32           0
             5963562           77572   21         0           151          77
             5963563           83820   23         0           103           0
             5965717           20788    5         0           114           0
             5965718           25881    7         0            39           0
             5967633           23457    6         0            63          15
             5967634           28047    7         0           143           0
             5967635           34239    9         0            32          17
             5967636           41902   11         0           102          48
             5967637           48656   13         0            80         134

                      prev_stop_id  ...  holiday  total_journey total_dwell  \
DAYOFSERVICE TRIPID                 ...
736695       5956287          7564  ...        1           3458         224
             5956288          7289  ...        1           6149         494
             5956289          7564  ...        1           3276         483
             5956290          5111  ...        1           6645         384
             5956291          7564  ...        1           4051         469
             5956292          7289  ...        1           5021         215
             5956293          7564  ...        1           3964         402
             5956294          7289  ...        1           3369         273
             5966066          7564  ...        1           2491         200
             5966067          5111  ...        1           2606         148
             5967767          7564  ...        1           2728         235
             5967768          5111  ...        1           3030         361
             5967769          7564  ...        1           3795         303
             5967770          7289  ...        1           3499         436
             5967771          7564  ...        1           3715         584
             5967772          7289  ...        1           4338         410
             5967773          7564  ...        1           3155         179
             5967774          5111  ...        1           2963         255
             5967775          7564  ...        1           3378         221
             5967776          7289  ...        1           3151         200
736696       5961252          7564  ...        0           3864         697
             5961253          5111  ...        0           3050         309
             5961254          7564  ...        0           3517         654
             5961255          5111  ...        0           3128         177
             5963422          7564  ...        0           3776         649
             5963424          7564  ...        0           3602         468
             5963425          5111  ...        0           4258         669
             5963426          7564  ...        0           3580         532
             5963428          7564  ...        0           5637        1345
             5963430          7564  ...        0           3722         304
             5963431          7289  ...        0           3136           8
             5963562          7564  ...        0           3443         473
             5963563          5111  ...        0           2818          57
             5965717          7564  ...        0           3182           0
             5965718          7289  ...        0           4182         516
             5967633          5111  ...        0           4024         486
             5967634          7564  ...        0           3834         208
             5967635          7289  ...        0           3928         570
             5967636          7564  ...        0           3484         396
             5967637          5111  ...        0           3852         549

                      overall_time  predicted_journey  \
DAYOFSERVICE TRIPID
736695       5956287          3682         145.713287
             5956288          6643          29.263340
             5956289          3759         219.890427
             5956290          7029          78.779793
             5956291          4520         274.785522
             5956292          5236          31.258791
             5956293          4366         275.356262
             5956294          3642          30.854471
             5966066          2691         188.983719
             5966067          2754          51.067490
             5967767          2963         199.681259
             5967768          3391          64.500816
             5967769          4098         174.342850
             5967770          3935          30.926960
             5967771          4299         224.148621
             5967772          4748          33.528732
             5967773          3334         209.420731
             5967774          3218          81.177933
             5967775          3599         183.501541
             5967776          3351          26.836668
736696       5961252          4561         256.210571
             5961253          3359          78.288780
             5961254          4171         168.654495
             5961255          3305          56.436211
             5963422          4425         162.309097
             5963424          4070         337.056915
             5963425          4927         106.414902
             5963426          4112         266.275085
             5963428          6982         381.521606
             5963430          4026         176.290649
             5963431          3144          31.995583
             5963562          3916         192.227890
             5963563          2875          96.607834
             5965717          3182         115.029755
             5965718          4698          38.416313
             5967633          4510          66.970833
             5967634          4042         203.297958
             5967635          4498          33.837349
             5967636          3880         212.347733
             5967637          4401          95.379982

                      total_predicted_journey  dwell_predictions  \
DAYOFSERVICE TRIPID
736695       5956287              3672.398438          22.881056
             5956288              6513.944824           1.707897
             5956289              3377.932861          52.598495
             5956290              6669.360840          88.645100
             5956291              4252.936035          79.623540
             5956292              4879.576660           1.650497
             5956293              3914.331055          62.139896
             5956294              3427.838135           2.067424
             5966066              2659.438721          57.244840
             5966067              2614.208008          17.837110
             5967767              2865.354980          21.053654
             5967768              3204.201660          55.224728
             5967769              3878.223633          27.513784
             5967770              3770.594727           1.719666
             5967771              4093.209717          52.893322
             5967772              4492.919434           2.527465
             5967773              3357.643799          81.751440
             5967774              3207.683105          43.277134
             5967775              3565.453613          58.065754
             5967776              3234.874023           0.870154
736696       5961252              4138.556152          68.421455
             5961253              3441.259033          35.110820
             5961254              3525.764893          67.632000
             5961255              3583.369141          22.251305
             5963422              3817.980469          16.725735
             5963424              3744.922607          24.160416
             5963425              4157.136230          90.430210
             5963426              3891.799561          52.598495
             5963428              5601.137207          82.060460
             5963430              3666.913818          57.124050
             5963431              3238.072510           1.286815
             5963562              3340.426025          58.023140
             5963563              3002.105225          18.627390
             5965717              3301.756592          16.725735
             5965718              4546.505371           2.460221
             5967633              4029.335205          44.340336
             5967634              4157.171387          17.438484
             5967635              4261.750977           2.576926
             5967636              3753.781738          31.542994
             5967637              3978.229492          84.408440

                      overall_predicted_time  total_predicted_dwell  \
DAYOFSERVICE TRIPID
736695       5956287             4127.814614             455.416176
             5956288             7179.540667             665.595843
             5956289             3981.236330             603.303468
             5956290             7313.598625             644.237785
             5956291             5130.041277             877.105241
             5956292             5290.647931             411.071271
             5956293             4494.610941             580.279887
             5956294             3704.268723             276.430589
             5966066             3026.887082             367.448361
             5966067             2738.996923             124.788915
             5967767             3310.421460             445.066480
             5967768             3779.686411             575.484751
             5967769             4398.047669             519.824036
             5967770             4445.765398             675.170672
             5967771             4823.995608             730.785891
             5967772             5171.652416             678.732983
             5967773             4015.569292             657.925493
             5967774             3578.881304             371.198199
             5967775             4072.423349             506.969735
             5967776             3434.619076             199.745052
736696       5961252             4953.807374             815.251222
             5961253             3985.154319             543.895285
             5961254             4173.969375             648.204483
             5961255             3925.389984             342.020843
             5963422             4103.425992             285.445524
             5963424             4254.207959             509.285352
             5963425             4863.710358             706.574127
             5963426             4531.979582             640.180021
             5963428             6600.770175             999.632968
             5963430             4141.303463             474.389645
             5963431             3367.478983             129.406473
             5963562             3900.602564             560.176539
             5963563             3173.436433             171.331209
             5965717             3619.711828             317.955236
             5965718             5224.861462             678.356091
             5967633             4636.333405             606.998200
             5967634             4712.213825             555.042438
             5967635             4910.532702             648.781726
             5967636             4331.900633             578.118895
             5967637             4615.369290             637.139798

                      difference
DAYOFSERVICE TRIPID
736695       5956287  445.814614
             5956288  536.540667
             5956289  222.236330
             5956290  284.598625
             5956291  610.041277
             5956292   54.647931
             5956293  128.610941
             5956294   62.268723
             5966066  335.887082
             5966067  -15.003077
             5967767  347.421460
             5967768  388.686411
             5967769  300.047669
             5967770  510.765398
             5967771  524.995608
             5967772  423.652416
             5967773  681.569292
             5967774  360.881304
             5967775  473.423349
             5967776   83.619076
736696       5961252  392.807374
             5961253  626.154319
             5961254    2.969375
             5961255  620.389984
             5963422 -321.574008
             5963424  184.207959
             5963425  -63.289642
             5963426  419.979582
             5963428 -381.229825
             5963430  115.303463
             5963431  223.478983
             5963562  -15.397436
             5963563  298.436433
             5965717  437.711828
             5965718  526.861462
             5967633  126.333405
             5967634  670.213825
             5967635  412.532702
             5967636  451.900633
             5967637  214.369290

[40 rows x 33 columns]