In [1]:
#Import package pandas for data analysis
import pandas as pd
# Import package numpy for numeric computing
import numpy as np
import seaborn as sns
# Import package matplotlib for visualisation/plotting
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches

from patsy import dmatrices
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

import pymysql

import matplotlib.pyplot as plt

#For showing plots directly in the notebook run the command below
%matplotlib inline

# For saving multiple plots into a single pdf file
from matplotlib.backends.backend_pdf import PdfPages

import scipy.stats as ss

# ignore warnings
import warnings
warnings.filterwarnings('ignore')#Import package pandas for data analysis
import pandas as pd
# Import package numpy for numeric computing
import numpy as np
import seaborn as sns
# Import package matplotlib for visualisation/plotting
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches

from patsy import dmatrices
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

import pymysql

import matplotlib.pyplot as plt

#For showing plots directly in the notebook run the command below
%matplotlib inline

# For saving multiple plots into a single pdf file
from matplotlib.backends.backend_pdf import PdfPages

import scipy.stats as ss

# ignore warnings
import warnings
warnings.filterwarnings('ignore')#Import package pandas for data analysis
import pandas as pd
# Import package numpy for numeric computing
import numpy as np
import seaborn as sns
# Import package matplotlib for visualisation/plotting
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches

from patsy import dmatrices
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

import pymysql

import matplotlib.pyplot as plt

#For showing plots directly in the notebook run the command below
%matplotlib inline

# For saving multiple plots into a single pdf file
from matplotlib.backends.backend_pdf import PdfPages

import scipy.stats as ss

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [16]:
#read in csv prepared from previous data cleaning 
df = pd.read_csv('feat_df.csv')

In [17]:
df.head(50)

,Unnamed: 0,TRIPID,PROGRNUMBER,DIRECTION,ACTUALTIME_ARR,hour,dayofweek,trip_dep_time,weekday,rain,temp,humidity,wind_speed,wind_dir,sun,visibility,cloud_height,cloud_cover,holiday
0,0,5956265,2,1,36075,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
1,1,5956265,3,1,36091,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
2,2,5956265,4,1,36125,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
3,3,5956265,5,1,36183,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
4,4,5956265,6,1,36254,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
5,5,5956265,7,1,36315,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
6,6,5956265,8,1,36361,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
7,7,5956265,9,1,36438,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
8,8,5956265,10,1,36480,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
9,9,5956265,11,1,36500,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
10,10,5956265,12,1,36521,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
11,11,5956265,13,1,36572,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
12,12,5956265,14,1,36602,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
13,13,5956265,15,1,36622,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
14,14,5956265,16,1,36663,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
15,15,5956265,17,1,36694,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
16,16,5956265,18,1,36726,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
17,17,5956265,19,1,36763,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
18,18,5956265,20,1,36815,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
19,19,5956265,21,1,36834,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
20,20,5956265,22,1,36890,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
21,21,5956265,23,1,36976,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
22,22,5956265,24,1,37080,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
23,23,5956265,25,1,37192,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
24,24,5956265,26,1,37321,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
25,25,5956265,27,1,37354,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
26,26,5956265,28,1,37399,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
27,27,5956265,29,1,37447,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
28,28,5956265,30,1,37501,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
29,29,5956265,31,1,37538,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
30,30,5956265,32,1,37602,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
31,31,5956265,33,1,37637,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
32,32,5956265,34,1,37673,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
33,33,5956265,35,1,37691,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
34,34,5956265,36,1,37707,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
35,35,5956265,37,1,37757,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
36,36,5956265,38,1,37810,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
37,37,5956265,39,1,37824,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
38,38,5956265,40,1,37843,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
39,39,5956265,41,1,37874,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
40,40,5956265,42,1,37924,10,0,0,0,0.0,5.3,7,17,240,0.9,30000,200,4,1
41,41,5956266,1,2,39636,11,0,39636,0,0.0,6.3,7,22,250,0.5,30000,200,4,1
42,42,5956266,2,2,39675,11,0,39636,0,0.0,6.3,7,22,250,0.5,30000,200,4,1
43,43,5956266,3,2,39744,11,0,39636,0,0.0,6.3,7,22,250,0.5,30000,200,4,1
44,44,5956266,4,2,39782,11,0,39636,0,0.0,6.3,7,22,250,0.5,30000,200,4,1
45,45,5956266,5,2,39809,11,0,39636,0,0.0,6.3,7,22,250,0.5,30000,200,4,1
46,46,5956266,6,2,39829,11,0,39636,0,0.0,6.3,7,22,250,0.5,30000,200,4,1
47,47,5956266,7,2,39877,11,0,39636,0,0.0,6.3,7,22,250,0.5,30000,200,4,1
48,48,5956266,8,2,39931,11,0,39636,0,0.0,6.3,7,22,250,0.5,30000,200,4,1
49,49,5956266,9,2,39943,11,0,39636,0,0.0,6.3,7,22,250,0.5,30000,200,4,1

In [18]:
#remove first trip - no departure time available for it
df = df.iloc[41:]

In [19]:
#reset index
df = df.reset_index()

In [20]:
df.head()

,index,Unnamed: 0,TRIPID,PROGRNUMBER,DIRECTION,ACTUALTIME_ARR,hour,dayofweek,trip_dep_time,weekday,rain,temp,humidity,wind_speed,wind_dir,sun,visibility,cloud_height,cloud_cover,holiday
0,41,41,5956266,1,2,39636,11,0,39636,0,0.0,6.3,7,22,250,0.5,30000,200,4,1
1,42,42,5956266,2,2,39675,11,0,39636,0,0.0,6.3,7,22,250,0.5,30000,200,4,1
2,43,43,5956266,3,2,39744,11,0,39636,0,0.0,6.3,7,22,250,0.5,30000,200,4,1
3,44,44,5956266,4,2,39782,11,0,39636,0,0.0,6.3,7,22,250,0.5,30000,200,4,1
4,45,45,5956266,5,2,39809,11,0,39636,0,0.0,6.3,7,22,250,0.5,30000,200,4,1

In [21]:
df = df.drop(['Unnamed: 0', 'index'], axis = 1)

In [22]:
df.head()

,TRIPID,PROGRNUMBER,DIRECTION,ACTUALTIME_ARR,hour,dayofweek,trip_dep_time,weekday,rain,temp,humidity,wind_speed,wind_dir,sun,visibility,cloud_height,cloud_cover,holiday
0,5956266,1,2,39636,11,0,39636,0,0.0,6.3,7,22,250,0.5,30000,200,4,1
1,5956266,2,2,39675,11,0,39636,0,0.0,6.3,7,22,250,0.5,30000,200,4,1
2,5956266,3,2,39744,11,0,39636,0,0.0,6.3,7,22,250,0.5,30000,200,4,1
3,5956266,4,2,39782,11,0,39636,0,0.0,6.3,7,22,250,0.5,30000,200,4,1
4,5956266,5,2,39809,11,0,39636,0,0.0,6.3,7,22,250,0.5,30000,200,4,1

In [23]:
#write over previous csv with this better one
df.to_csv('feat_df.csv')